mixin item-hidden(view_hidden)
                .item-hidden 
                    .imgae-hidden 
                        .gadient-hidden
                        img.view-hidden(src= view_hidden, alt="hidden gem")
                        .content-hidden
                            //- .title-hidden
                            h3.title-hidden Bangkok Trip
                            //- .date-hidden
                            span.date-hidden 27 Sep, 2023